/* --------------------------------------------------
Variables
-------------------------------------------------- */


blue = #19334e;
lightBlue = #7589a1;
red = #720707;
lightRed = #a84e4e;
grey = #333333;
lightGrey = #a3a3a3;
medGrey = #616161;

beige = #fbf3e2;


/* --------------------------------------------------
Fonts
-------------------------------------------------- */
body {
  font-size: 100%;
  padding: 0;
}
  
h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  font-size: 2em;
  color: white;
}

h3 {
  color: #414959;
  font-size: 2em;
}

p {
  margin: 0;
}

label {
  font-size: 1.125em;
}

/* --------------------------------------------------
Buttons
-------------------------------------------------- */
.button {
  border-radius: 11px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.125em;
  
  &:focus {
    outline: none;
  }
  
  &:active {
    background: grey;
  }
}
  
.button--blue {
  background: blue;
  
  &:hover {
    background: lightBlue;
  }
}
  
.button--red {
  background: red;
  
  &:hover {
    background: lightRed;
  }
}

.button--grey {
  background: grey;
  
  &:hover {
    background: lightGrey;
  }
}

.button--med-grey {
  background: medGrey;

  &:hover {
    background: lightGrey;
  }
}

.button--light-grey {
  background: lightGrey;

  &:hover {
    background: darken(lightGrey, 5%);
  }
}

.button--large {
  font-size: 2em;
  padding: 10px 50px;
  margin-top: 20px;
}

.button--medium {
  text-transform: uppercase;
  padding: 15px 50px;
}

/* --------------------------------------------------
Inputs
-------------------------------------------------- */

input {
  border-radius: 11px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  
  &:focus {
    outline: none;
  }
  
  &.input--large {
    margin-bottom: 20px;
    font-size: 2em;
    border: none;
    width: 580px;
    padding: 20px 30px;
  }

}

.input--field-horizontal {
  display: inline-block;
  
  label {
    text-align: right;
    display: inline-block;
    width: 50px;
    margin-right: 8px;
  }
}

.input--field-inline {
  display: table;
  border-collapse: separate;
  
  input {
    padding: 13px 20px;
    font-size: 1.125em;
    display: table-cell;
    border-radius: 11px 0 0 11px;
    z-index: 2;
    position: relative;
  }
    
  i {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.4em;
    color: lightGrey;
    background: white;
    border: 1px solid #dadbdb;
    border-radius: 0 11px 11px 0;
    width: 63px;
    text-align: center;
    margin-left: -1px;
  }
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  
  select {
    height: 44px;
    width: 165px;
    padding: 13px 20px;  
    margin: 0;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    background: #ffffff;
    color: #141414;
    border: 1px solid #dadbdb;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      padding-right: 18px;
    }
  }
  
  &:after {
    content: "\e601";
    font-family: 'icomoon';
    color: #141414;
    position: absolute;
    right: 0px;
    height: 44px;
    width: 40px;
    border-left: 1px solid #dadbdb;
    line-height: 44px;
    pointer-events: none;
    text-align: center;
    background: transparent;
    z-index: 1;
    top: 0;
    border-radius: 0 11px 11px 0;
    
  }
}

/* --------------------------------------------------
Pages
-------------------------------------------------- */

.page {
  text-align: center;
  padding-top: 65px;
  .logo {
    margin-bottom: 100px;
  }  
}

/* --------------------------------------------------
General Elements
-------------------------------------------------- */

html, body {
  height: 100%;
}

[state] {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -179px;
  
  &:after {
    content: "";
    display: block;
    height: 179px;
  }
}