// variables
white = #fff;
blue = #21476a;
dark-red = #720707;

body {
  font-size: 18px;
  padding: 0;
}
  
h1 {
  margin: 0;
}

// buttons
.button {
  border-radius: 11px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  
  &:focus {
    outline: none;
  }
}
  
.button--blue {
  background: blue;
}
  
.button--red {
  background: dark-red;
}

// forms
input {
  border-radius: 11px;
  border: 1px solid #dadbdb;
  
  &:focus {
    outline: none;
  }
}
  