.ui-select-container {
  &.open {
    .selectize-input {
      border-radius: 11px 11px 0 0;
    }
  }
}

.selectize-input {
  padding: 15px 30px;
  line-height: 1;
  border-radius: 11px;  
  
  & > * {
    float: left;
  }
}

.ui-select-choices {
  text-align: left;
  border-radius: 0 0 11px 11px;
  
}

.ui-select-choices-row {
  padding: 15px 30px;
}

.selectize-dropdown {
  margin-top: -4px;
}