footer
  ol.container
    li(ng-if="$state.current.name !== 'login'")
      a(href="mailto:info@bellwetherinsights.com", ng-click="support()") Contact Support
    li(ng-if="$state.current.name == 'login'")
      a(href="mailto:info@bellwetherinsights.com",
      ng-click="signUp()") Request an account
    li
      a(ui-sref="pages.privacy-policy") Privacy Policy
