header
  .container
    .row
      .seven.columns
        .header__logo
          h1: a(href="#/search"): img(src="/images/logo.png")
      .five.columns
        .header__search
          a.sign-out(href="#", ng-click="signout()") Sign Out
          bwi-search
bwi-filter
