.table(ng-cloak)
  header
    .row
      .seven.columns
        .table__title
          h3 {{ options.title }}
        button(ng-click="onExport()" ng-if="onExport") Export
      .five.columns
        .table__actions
          .input--field-inline
              input(ng-model="filterText", placeholder="Search by Name", ng-keypress="analytics(filterText)")
              i.icon-search
  .table-wrapper
    table(ng-table="tableParams")
      tr
        th(ng-repeat="col in options.columns", ng-class="col.title") {{ col.title }}
      tr(ng-click="linkTo(data)", ng-repeat="data in getFilteredData()")
        td(ng-repeat="col in options.columns") {{ getDataForCol(data, col.key, col.filter) }}
