.industries(ng-repeat="groupRow in groupedData | filter: $parent.industry.selected.name | orderBy: 'amount':'reverse'")
  .industry-data
    .industry__header
      h5 {{ groupRow.industry }}
    .industry__total
      h5 {{ groupRow.amount | currency }}
  .industry-graph
    .bar(ng-style="getBarWidth(groupRow)")
