.row
  .three.columns
    .group
      .row
        .one.columns
          img(ng-src="/data/images/Republican-small.png")
        .two.columns
          p Republican
  .three.columns
    .group
      .row
        .one.columns
          img(ng-src="/data/images/Democratic-small.png")
        .two.columns
          p Democrat
  .three.columns
    .group
      .row
        .one.columns
          img(ng-src="/data/images/Non-partisan.png")
        .two.columns
          p Non-partisan
  .three.columns
    .group
      .row
        .one.columns
          img(ng-src="/data/images/Libertarian-small.png")
        .two.columns
          p Libertarian
.row
  .four.columns
    .group
      .row
        .one.columns
          img(ng-src="/data/images/Republican-small.png")
        .two.columns
          p Republican
  .four.columns
    .group
      .row
        .one.columns
          img(ng-src="/data/images/Democratic-small.png")
        .two.columns
          p Democrat
  .four.columns
    .group
      .row
        .one.columns
          img(ng-src="/data/images/Non-partisan.png")
        .two.columns
          p Non-partisan
bwi-table

