.spinner(ng-if="showSpinner", us-spinner="{length:16, radius:30, width:8}")
section.contributions(ng-if="cumulativeOptions || individualOptions")
  .section-header
    .row
      .seven.columns
        h3 Contributions By Party

      .five.columns
        .ui-select-wrapper
          ui-select(ng-model="$parent.party.selected", theme="selectize", ng-disabled="disabled", on-select="party()")
            ui-select-match(placeholder="Filter by Party") {{ $select.selected.name }}
            ui-select-choices(repeat="party in parties | filter: $select.search")
              span(ng-bind-html="party.name | highlight: $select.search")
          span.ui-select-clear(ng-click="clearParty()") &times;

  .row
    .twelve.columns
      h5.grand-total Grand Total: {{ cumulativeOptions.filteredResults | sumOfValue:'amount' | currency : symbol }}

  .row
    .three.columns(ng-repeat="party in parties")
      .group(ng-class="{ 'disabled' : party.isDisabled }")
        .group-image
          img(ng-src="/data/images/{{ party.image }}.png")
        dl.group-meta
          dt {{ party.name }}
          dd {{ party.amount | currency:symbol }}

section.contributions(ng-if="cumulativeOptions || individualOptions")
  .section-header
    .row
      .seven.columns
        h3 Contributions By Chamber
      .five.columns
        .ui-select-wrapper
          ui-select(ng-model="$parent.chamber.selected", theme="selectize", ng-disabled="disabled", on-select="chamber()")
            ui-select-match(placeholder="Filter by Chamber") {{ $select.selected.name }}
            ui-select-choices(repeat="chamber in chambers | filter: $select.search")
              span(ng-bind-html="chamber.name | highlight: $select.search")
          span.ui-select-clear(ng-click="clearChamber()") &times;
  .row
    .three.columns(ng-repeat="chamber in chambers")
      .group(ng-class="{ 'disabled' : chamber.isDisabled }")
        .group-image
          img(ng-src="/data/images/{{ chamber.image }}.png")
        dl.group-meta
          dt {{ chamber.name }}
          dd {{ chamber.amount | currency:symbol }}

bwi-table(options="cumulativeOptions", ng-if="cumulativeOptions", filter-text="textFilters.text")
bwi-table(options="individualOptions", ng-if="individualOptions", filter-text="textFilters.text")
