section.contributions
  .row
    .seven.columns
      h3 Contributions By Party
    .five.columns
      ui-select(ng-model="$parent.party.selected", theme="selectize", ng-disabled="disabled")
        ui-select-match(placeholder="Sort by:") {{ $select.selected.name }}
        ui-select-choices(repeat="party in parties | filter: $select.search")
          span(ng-bind-html="party.name | highlight: $select.search")
      span.clear(ng-click="clearParty()") Clear
              
  .row
    .three.columns(ng-repeat="party in parties")
      .group(ng-class="{ 'disabled' : party.isDisabled }")
        .image
          img(ng-src="/data/images/{{ party.image }}.png")
        .meta
          p {{ party.name }}
          p {{ party.amount | currency:symbol }}

section.contributions
  .row
    .seven.columns
      h3 Contributions By Chamber
    .five.columns
      ui-select(ng-model="$parent.chamber.selected", theme="selectize", ng-disabled="disabled")
        ui-select-match(placeholder="Sort by:") {{ $select.selected.name }}
        ui-select-choices(repeat="chamber in chambers | filter: $select.search")
          span(ng-bind-html="chamber.name | highlight: $select.search")
      span.clear(ng-click="clearChamber()") Clear
  .row
    .chambers
      .three.columns(ng-repeat="chamber in chambers")
        .group(ng-class="{ 'disabled' : chamber.isDisabled }")
          .image
            img(ng-src="/data/images/{{ chamber.image }}.png")
          .meta
            p {{ chamber.name }}
            p {{ chamber.amount | currency:symbol }}

bwi-table(options="cumulativeOptions", ng-if="cumulativeOptions", filter-text="textFilters.text", search-attribute="party.selected.name", search-attribute2="chamber.selected.name")
bwi-table(options="individualOptions", ng-if="individualOptions", filter-text="textFilters.text", search-attribute="party.selected.name", search-attribute2="chamber.selected.name")
