.contributions {
  margin-bottom: 70px;
}
.group {

  .image {
    display: inline-block;
    vertical-align: top;
  }

  .meta {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
  }

  img {
    max-width: 50px;
    display: inline;
  }
}
