header
  .container
    .row
      .seven.columns
        .header__logo
          h1: a(href="#/search"): img(src="/data/images/logo.png")
      .five.columns
        .header__search
          bwi-search
bwi-filter
