header
  .container
    .row
      .seven.columns
        .header__logo
          h1: a(href="#/search"): img(src="/data/images/logo.png")
      .five.columns
        .header__search
          form
            .input--field-inline
              input(placeholder="Search", type="text")
              i.icon-search
bwi-filter
