header
  .container
    .row
      .seven.columns
        .header__logo
          h1: a(href="#/search"): img(src="/data/images/logo.png")
      .five.columns
        .header__search
          ui-select(ng-model="selectionModel", data-ng-disabled="disabled", reset-search-input="false", on-select="navigate($item)")
            ui-select-match(placeholder="Search") {{$select.selected.name}}
            ui-select-choices(refresh="searchMedia($select)", repeat="searchRes in SearchRes", refresh-delay="300")
              div(ng-bind-html="searchRes.name | highlight: $select.search")
bwi-filter
