header
  .container
    .row
      .seven.columns
        .header__logo
          h1: a(href="#/search"): img(src="/images/logo.png")
      .five.columns
        .header__search
          ui-select(ng-model="users.selected")
            ui-select-match(placeholder="Search") {{$select.selected.name}}
            ui-select-choices(repeat="user in users")
              div(ng-bind-html="user.name | highlight: $select.search")
bwi-filter

