header
  .container
    .row
      .col-md-6
        .header__logo
          h1: img(src="http://placehold.it/150x50")
      .col-md-6
        .header__search
          form.form--inline
            input(placeholder="Search", type="text")
            span
              button Search
bwi-filter

