footer {
  padding: 50px 0;
  background: rgba(0,0,0,0.2);
  color: white;
  text-align: center;
  height: 179px; /* .push must be the same height as .footer */
  box-sizing: border-box;
  
  p {
    font-size: 1.500em;
    margin-bottom: 20px;
  }
}