footer
  div(ng-if="$state.current.name == 'search'")
    p Have Specific Questions?
    a(href="mailto:info@bellwetherinsights.com").button.button--medium.button--med-grey Support
  div(ng-if="$state.current.name !== 'search'")
    p Want to Subscribe
    a(href="mailto:info@bellwetherinsights.com").button.button--medium.button--blue Sign-up
