.date-select-label {
  display: block;
  font-style: normal;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.date-select-to {
  float: left;
  position: relative;
  text-align: center;
  top: 0.75em;
  width: 8%;
}

.date-select-group {
  width: 46%;
  float: left;

  .selectize-input,
  .ui-select-choices-row {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.date-select-year {
  float: left;
  width: 60%;

  .selectize-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.date-select-quarter {
  float: left;
  width: 40%;

  .selectize-input {
    border-bottom-left-radius: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
  }
}
