.contributions {
  margin-bottom: 70px;
}

.group {
  transition: opacity 0.2s linear;

  &.disabled {
    opacity: 0.5;
  }
}

.group-image {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;

  img {
    max-width: 50px;
    display: inline;
  }
}

.group-meta {
  display: inline-block;
  vertical-align: middle;

  dt {
    color: baseFontColor;
    margin-bottom: 5px;
  }

  dd {
    color: lightFontColor;
    margin-left: 0;
  }
}

.grand-total {
  margin: 0;
}
