.sup-header {
  padding: 50px 0 20px 0;
  color: white;

  &.Republican {
    background: #b12025;
  }

  &.Democratic {
    background: #254669;
  }

  &.Neutral {
    background: #6e6e6e;
  }

  .button {
    padding: 12px 35px;
  }
}

.tab-wrapper {
  background: grey;
  color: white;
  text-transform: uppercase;

  li {
    padding: 30px 0 20px 0;
    display: inline-block;
    list-style-type: none;
    position: relative;
    text-align: center;
    cursor: pointer;

    &:after {
      content: '';
      background: url('/images/tab-hover.png')
      display: inline;
      width: 46px;
      height: 25px;
      margin: auto;
      position: absolute;
      top: -49px;
      left: 0;
      bottom: 0;
      right: 0;
      display: none;
    }

    &:hover {
      &:after {
        display: block;
      }
    }
    &.active {
      &:after {
        display: block;
      }
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}
