footer {
  background-color: rgba(#000, 0.05);
  border-top: 1px solid rgba(#000, 0.1);
  height: 86px; // See wrapper layout
  padding: 32px 0;

  ol {
    text-align: right;
  }

  li {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    list-style-type: none;
    margin-left: 2em;
  }
}

[state="login"] footer a {
  color: #fff;

  &:hover,
  &:focus {
    color: red;
  }
}
