html, body {
  height: 100%;
}

[state] {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -150px;

  &:after {
    content: "";
    display: block;
    height: 150px;
  }
}

div[template-url="templates.pagination"] {
  display: none;
}
