* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

[state] {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -86px; //pushes footer

  &:after {
    content: "";
    display: block;
    height: 86px;
  }
}

div[template-url="templates.pagination"] {
  display: none;
}
