.prose {
  max-width: 40em;
  padding-bottom: 3em;
  text-align: left;

  h1 {
    margin-bottom: 1em;
  }

  h2 {
    color: baseFontColor;
    font-size: 1.375em;
    margin-bottom: 0.25em;
    margin-top: 1.5em;
  }

  h3 {
    font-size: 1em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
  }

  p {
    color: lightFontColor;
    line-height: 1.5;
    margin-bottom: 0.75em;
  }

  address {
    color: lightFontColor;
    font-style: normal;
  }
}
