.select.selectize-control {
  border-radius: baseBorderRadius;
}

.error {
  color: #710F11;
  text-align: center;

  &.search-error {
    font-weight: 600;
    margin-bottom: 1em;
    margin-left: 30px;
    text-align: left;
  }
}

.selectize-input {
  border-color: baseBorderColor;
  padding: 15px 30px;
  line-height: 1;

  &:hover {
    border-color: darken(baseBorderColor, 15%);
  }

  & > * {
    float: left;
  }
}

.ui-select-choices {
  text-align: left;
  border-radius: baseBorderRadius;

}

.ui-select-choices-row {
  padding: 15px 30px;

  &.disabled {
    color: lightGrey;

    &.active {
      background-color: transparent;
    }

    [data-selectable]:hover {
      cursor: default;
    }
  }
}

.ui-select-container {
  position: relative;
}

.ui-select-wrapper {
  position: relative;
}

.ui-select-clear {
  background-color: #ccc;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: none;
  height: 1.25em;
  line-height: 1.2;
  position: absolute;
  right: 1em;
  text-align: center;
  top: 0.75em;
  transition: background-color 0.1s linear;
  width: 1.25em;
  z-index: 1;

  &:hover {
    background-color: lighten(red, 20%);
  }

  .ng-valid-parse + & {
    display: block;
  }
}
