// Colors
blue = #19334e;
lightBlue = #7589a1;
red = #720707;
lightRed = #a84e4e;
grey = #333333;
lightGrey = #a3a3a3;
medGrey = #616161;
beige = #fbf3e2;

// Font Colors
baseFontColor = blue;
lightFontColor = rgba(baseFontColor, 0.7);

// Font Families
baseFontFamily = "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
altFontFamily = "Ubuntu Condensed", baseFontFamily;
