#login
  h1.logo Bellwether Insights
  form
    .input-field
      input(placeholder="Email Address", type="email")
    .input-field
      input(placeholder="Password", type="password")
    .input-field
      button.button.button--blue Log in
  footer.footer-subscribe
    p Want to Subscribe
    button.button.button--blue Sign-up