#login {
  background: #c7c3bc;
  margin: 0 auto;
  text-align: center;
  padding-top: 65px;
  
  .logo {
    margin-bottom: 100px;
  }

  form {
    input {
      margin-bottom: 20px;
      font-size: 1.778em;
      border: none;
      width: 580px;
      padding: 20px 30px;
    }
    
    button {
      font-size: 1.778em;
      padding: 10px 50px;
      margin-top: 20px;
    }
  }
  
  .footer-subscribe {
    padding: 50px 0;
    background: rgba(0,0,0,0.2);
    color: white;
    
    button {
      text-transform: uppercase;
      padding: 15px 50px;
    }
    
    p {
      font-size: 1.333em;
    }
  }
}