[state="login"] .wrapper {
  background: url('/data/images/login-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  button {
    margin-bottom: 230px;
  }
}
