.page.page--login
  h1.logo: img(src="/data/images/logo.png")
  form
    .input-field
      input.input--large(placeholder="Email Address", type="email")
    .input-field
      input.input--large(placeholder="Password", type="password")
    .input-field
      button.button.button--blue.button--large Log In
