#login
  width: 585px
  margin: 0 auto
  text-align: center
  
  input
    margin-bottom: 20px
    font-size: 1.778em
    border: none
    width: 100%
    padding: 20px 30px
  
  button
    font-size: 1.778em
    padding: 20px 50px
    margin-top: 20px