#login
  h1 Bellwether Insights
  form
    .input-field
      input(placeholder="Email Address", type="email")
    .input-field
      input(placeholder="Password", type="password")
    .input-field
      button.button.button--blue Login
button.button.button--blue Sign-up