section
  .sup-header(ng-class="position")
    .container
      .row
        .seven.columns
          .profile
            h2 {{title}}
            .row
              .two.columns
                img(src="http://placehold.it/105x100")
              .five.columns.collapse
                p Lorem Ipsum: Test
                p Lorem Ipsum: Test
                p Lorem Ipsum: Test
                p Lorem Ipsum: Test
        .five.columns
          ui-select(ng-model="year.selected", theme="selectize", ng-disabled="disabled")
            ui-select-match(placeholder="Start") {{$select.selected.start}}
            ui-select-choices(repeat="year in years | filter: $select.search")
              span(ng-bind-html="year.start | highlight: $select.search")
          ui-select(ng-model="year.selected", theme="selectize", ng-disabled="disabled")
            ui-select-match(placeholder="End") {{$select.selected.end}}
            ui-select-choices(repeat="year in years | filter: $select.search")
              span(ng-bind-html="year.end | highlight: $select.search")                
.tab-wrapper
  .container
    nav.row
      li.six.columns Expenditures
      li.six.columns Receipts
