red = #b12025;
grey = #6e6e6e;

.sup-header {
  padding: 50px 0;
  color: white;
  
  &.democrat {
    background: red;
  }
    
  &.neutral {
    background: grey; 
  }
  
  .button {
    padding: 12px 35px;
  }
}      