section
  .sup-header(ng-class="elected_official.affiliation")
    .container
      .row
        .seven.columns
          .profile
            h2 {{elected_official.name}}
            .row
              .two.columns
                img(src="http://placehold.it/105x100")
              .five.columns.collapse
                p Lorem Ipsum: Test
                p Lorem Ipsum: Test
                p Lorem Ipsum: Test
                p Lorem Ipsum: Test
        .five.columns
          form(name="yearSelect", ng-submit="yearSubmit()")
            .select
              label Start
              ui-select(ng-model="year.selected", theme="selectize", ng-disabled="disabled")
                ui-select-match(placeholder="Start") {{$select.selected.start}}
                ui-select-choices(repeat="year in years | filter: $select.search")
                  span(ng-bind-html="year.start | highlight: $select.search")
            .select
              label End
              ui-select(ng-model="year.selected", theme="selectize", ng-disabled="disabled")
                ui-select-match(placeholder="End") {{$select.selected.end}}
                ui-select-choices(repeat="year in years | filter: $select.search")
                  span(ng-bind-html="year.end | highlight: $select.search")                
            .year-submit
              button.button.button--medium Submit
.tab-wrapper
  .container(ng-if="elected_official")
    nav.row
      li.four.columns(ui-sref="elected-official.pac", ui-sref-active="active", ng-click="loadPac()") Pac
      li.four.columns(ui-sref="elected-official.party", ui-sref-active="active") Party
      li.four.columns(ui-sref="elected-official.individual", ui-sref-active="active") Individual
  .container(ng-if="pac")
    nav.row
      li.six.columns(ui-sref="pac.expenditures", ui-sref-active="active") Expenditures
      li.six.columns(ui-sref="pac.receipts", ui-sref-active="active") Receipts
  .container(ng-if="party")
    nav.row
      li.six.columns(ui-sref="party.expenditures", ui-sref-active="active") Expenditures
      li.six.columns(ui-sref="party.receipts", ui-sref-active="active") Receipts      
