red = #b12025;
blue = #254669;
grey = #6e6e6e;

.year-filter {
  button {
    margin-left: 20px;
  }
}

.sup-header {
  padding: 50px 0 20px 0;
  color: white;
  
  &.democrat {
    background: red;
  }
  
  &.repub {
    background: blue;
  }
    
  &.neutral {
    background: grey; 
  }
  
  .button {
    padding: 12px 35px;
  }
}

.tab-wrapper {
  li {
    padding: 20px 0;
  }
}   