section
  .sup-header(ng-class="position")
    .container
      .row
        .seven.columns
          .profile
            h2 {{title}}
            .row
              .two.columns
                img(src="http://placehold.it/105x100")
              .five.columns.collapse
                p Lorem Ipsum: Test
                p Lorem Ipsum: Test
                p Lorem Ipsum: Test
                p Lorem Ipsum: Test
        .five.columns
          .year-filter
            form
              .input--field-horizontal
                label Start
                .select
                  select
                    option 2010
                    option 2011
                    option 2012
                    option 2013
                    option 2014
              .input--field-horizontal
                label End
                .select
                  select
                    option 2010
                    option 2011
                    option 2012
                    option 2013
                    option 2014
              button.button.button--red Find
.tab-wrapper
  .container
    nav.row
      li.six.columns(ui-sref="index.expenditures") Expenditures
      li.six.columns(ui-sref="index.receipts") Receipts
