.table(ng-cloak)
  header
    .row
      .seven.columns
        .table__title
          h3 {{ options.title }}
          h4 {{ filteredResults | sumOfValue:'amount' | currency : symbol }}
      .five.columns
        .table__actions
          .table-expand
            i.icon-popup
          .input--field-inline
              input(ng-model="filterText", placeholder="Search by Name")
              i.icon-search
  .table-wrapper
    table(ng-table="tableParams")
      tr(ng-repeat="data in $parent.filteredResults = (options.data | filter:filterText | startYear:selectedStartYear | endYear:selectedEndYear | filter:industry.selected.name)")
        td(data-title="'Pac Name'") {{data.pac.name || data.donor.name}}
        td(data-title="'Industry'") {{data.pac.industry || data.donor.profession}}
        td(data-title="'Sector'") {{data.pac.sector || data.donor.employer}}
        td(data-title="'Amount'") {{data.amount | currency : symbol}}
