navy-blue = #414959;

.table {
  height: 500px;
}

.table__actions {
  .input--field-inline {
    float: left;
  }
  .table-expand {
    display: inline-block;
  }
}

.ng-table {
  width: 100%;
  
  th {
    text-align: left;
    padding: 20px 0;
    color: navy-blue;
  }
}

tr {
  border-bottom: 1px solid #c7c5c5;
}

td {
  padding: 20px 0;
  color: navy-blue;
}