.table
  header
    .row
      .six.columns
        .table__title
          h3 {{tableTitle}}
      .six.columns
        .table__actions
          .table-expand
            i.icon-popup
          .input--field-inline
              input(ng-model="searchText", placeholder="Search by Name")
  table(ng-table="tableParams")
    tr(ng-repeat="receipt in $data | filter:searchText")
      td(data-title="'Pac Name'") {{receipt.pac.name}}
      td(data-title="'Industry'") {{receipt.pac.industry}}
      td(data-title="'Sector'") {{receipt.pac.sector}}
      td(data-title="'Amount'") {{receipt.amount | currency : symbol}}
