.table
  header
    .row
      .six.columns
        .table__title
          h3 {{tableTitle}}
      .six.columns
        .table__actions
          .table-expand
            i.icon-popup
          .input--field-inline
            ui-select(ng-model="filter.$", ng-disabled="disabled")
              ui-select-match(placeholder="Search by Name") {{$select.selected.start}}
              ui-select-choices(repeat="year in years | filter: $select.search")
                span(ng-bind-html="year.start | highlight: $select.search")
  table(ng-table="tableParams")
    tr(ng-repeat="pac in $data")
      td(data-title="'Pac Name'") {{pac.name}}
      td(data-title="'Industry'") {{pac.industry}}
      td(data-title="'Sector'") {{pac.sector}}
      td(data-title="'Amount'") {{pac.amount | currency : symbol}}