.page.page--search
  h1.logo: img(src="data/images/logo.png")
  ui-select(ng-model="selectionModel", data-ng-disabled="disabled", reset-search-input="false", on-select="test($item)")
    ui-select-match(placeholder="Search") {{$select.selected.name}}
    ui-select-choices(refresh="searchMedia($select)", repeat="searchRes in SearchRes", refresh-delay="300")
      div(ng-bind-html="searchRes.name | highlight: $select.search")
  button(ng-click="clearLogin()") Log Out
