lightGrey = #a3a3a3;

[state="search"] .wrapper {
  background: url('/images/search-bg.png');
  background-position: center center;
  background-repeat: no-repeat;  
}

.input--search {
  input {
    padding-right: 60px;
  }
  i {
    font-size: 2em;
    color: lightGrey;
    position: relative;
    right: 55px;
    top: 5px;
  }
}